In [2]:
import pandas as pd
files = ['results.csv']
for file in files:
    cols = ['NMI', 'ARI', 'ACC', 'task_name', 'known_cls_ratio','labeled_ratio','fraction','method','seed']
    df = pd.read_csv(file)
    df_mean = df[cols].groupby(['task_name','known_cls_ratio','method','labeled_ratio','fraction']).mean().round(2).reset_index()

In [3]:
df_mean

,task_name,known_cls_ratio,method,labeled_ratio,fraction,NMI,ARI,ACC,seed
0,banking,0.75,DeepAligned,0.1,1.0,79.42,53.29,64.74,3.5
1,clinc,0.75,DeepAligned,0.1,1.0,93.89,79.79,86.55,3.5
2,stackoverflow,0.75,DeepAligned,0.1,1.0,76.37,61.99,79.21,3.0